*{
  box-sizing: border-box;
  font-family: lorem ipsum;
  margin:0;
  padding: 0
}
h1{
  text-align: center;
  margin-top: 15px;
  color: #303030;
}
.container{
  width: 100%;
  padding: 15px 45px;
}

[class*="col-"]{
  float: left;
  padding: 15px;
} 
span{
  padding: 35px 15px 15px;
  position: relative;
  display: block;
  background: #f2f2f2;
  border: 2px solid #000;
}

[class*="cont-title"]{
  width: 33.33%;
  position: absolute;
  top: -2px;
  right: -2px;
  padding: 5px 15px;
  color: #000000;
  border: 2px solid #000;
}
.cont-title1{
  background: #9cfa8e;
}
.cont-title2{
  background: #fc7373;
}
.cont-title3{
  background: #f9d5a9;
}


/* for mobile */
  [class*="col-"]{
    width: 100%;
  } 


@media (min-width: 768px) and (max-width: 991px){
/*for tablets*/
.col-tb-1{width: 8.33%;}
.col-tb-2{width: 16.66%;}
.col-tb-3{width: 25%;}
.col-tb-4{width: 33.33%;}
.col-tb-5{width: 41.66%;}
.col-tb-6{width: 50%;}
.col-tb-7{width: 58.33%;}
.col-tb-8{width: 66.66%;}
.col-tb-9{width: 75%;}
.col-tb-10{width: 83.33%;}
.col-tb-11{width: 91.66%;}
.col-tb-12{width: 100%;}
}


@media (min-width: 992px){
/*for desktop*/
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
}
